<h1>Edit your task</h1>

<%= form_for @task, as: :patch, url: {action: "update"} do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit %>

<% end %>
