<h1>Welcome to your task list!</h1>

<%= button_to "Log out", sessions_destroy_path, method: :delete %>

<article>
  <h2>Welcome, <%= @user.name %>!</h2>
  <p>Please click on a task name to see the details of the task.</p>
  <ul>
    <% @tasks.each do |task| %>
      <li><%= link_to(task.title, show_path(task.id)) %>
        <% if task.completed_at %>
          <img src='/assets/checkmark.png', alt="completion checkmark">
        <% else %>
          <%= button_to("Complete!", update_path(task.id), :method => 'patch') %>
          <%= button_to("Edit", edit_path(task.id), :method => 'get') %>
        <% end %>
        <%= button_to("Delete", destroy_path(task.id), :data => {:confirm => 'Are you sure?'}, :method => 'delete') %></li>
    <% end %>
  </ul>
</article>
