<h1><%= @task.title %></h1>
<h2>Description:</h2>
<p><%= @task.description %></p>
<h2>Completion status:</h2>
<p>
  <% if @task.completed_at %>
    <%= "Completed!" %>
  <% else %>
    Not yet complete (<%= link_to("Mark as completed", update_path(@task.id), :method => 'put', :sender => 'show') %>)
  <% end %>
</p>
<h2>Date completed:</h2>
<p>
  <% if @task.completed_at %>
    <%= @task.completed_at %>
  <% else %>
    <%= "Not yet completed" %>
  <% end %>
</p>

<p><%= link_to("Edit", edit_path(@task.id)) %></p>
