<h1><%= @task.title %></h1>

<article>
  <h2>Description:</h2>
  <p><%= @task.description %></p>
  <h2>Completion status:</h2>
  <p>
    <% if @task.completed_at %>
      <%= "Completed!" %>
    <% else %>
      Not yet complete (<%= link_to("Mark as completed", update_path(@task.id), :method => 'patch') %>)
    <% end %>
  </p>
  <h2>Date completed:</h2>

  <% if @task.completed_at %>
    <p>
      <%= @task.completed_at %>
    </p>
  <% else %>
    <p>
      <%= "Not yet completed" %>
    </p>
    <p>
      <%= button_to "Edit", edit_path(@task.id), method: :get %>
    </p>
  <% end %>

</article>
