<h1><%= @task.title %></h1>

<article>
  <h2>Description:</h2>
  <p><%= @task.description %></p>
  <h2>Completion status:</h2>
  <p>
    <% if @task.completed_at %>
      <%= "Completed!" %> <img src='/assets/checkmark.png', alt="completion checkmark">
    <% else %>
      Not yet completed
    <% end %>
  </p>
  <h2>Date completed:</h2>

  <p>
    <% if @task.completed_at %>
        <%= @task.completed_at %>
    <% else %>

        <%= "Not yet completed" %>
      </p>
      <p>
        <%= button_to("Complete!", update_path(@task.id), :method => 'patch') %>
        <%= button_to("Edit", edit_path(@task.id), :method => 'get') %>

    <% end %>

    <%= button_to("Delete", destroy_path(@task.id), :data => {:confirm => 'Are you sure?'}, :method => 'delete') %>
  </p>

</article>
